html {
   max-width: 100%;
   margin: 10px;
   padding: 5px;
}

body {
   margin: 10px;
   background: lightgrey;
   border: 1px solid black;
}

main,
header,
footer,
nav {
   margin: 10px;
}
.header-block div,
address {
   text-align: right;
}
.header-block .h2 {
   color: lightseagreen;
}

.footer-block .address {
   text-align: right;
}
.footer-block .nav {
   display: flex;
   justify-content: center;
}

a {
   text-decoration: none;
}

.card {
   background: lightgrey;
}

.btn .h4 {
   color: rgb(37, 0, 124);
}
