html {
   max-width: 720px;
}

body {
   margin: 10px;
   background: lightgrey;
   border: 1px solid black;
}
div {
   padding: 5px;
   border: 1px dashed darkblue;
}

main,
header,
footer,
nav {
   margin: 16px;
}

section {
   padding: 16px;
}
