<a class="nav-link" href='{{href}}' {{#if blank}} target="_blank" {{/if}}>{{text}} </a>
{{!-- {{#unless noLine}}
{{#if line}}
   --
   {{else}}
   //
{{/if}}
{{/unless}} --}}


{{!-- {{#unless isLine}} no Line {{/unless}} --}}