<nav class="nav m-0">
   {{> footerlink href='/summary' text='Summary'}}
   {{> footerlink href='/skills' text='My skills'}}
   {{> footerlink href='/education' text='Education'}}
   {{> footerlink href='/work' text='Work'}}
</nav>