<nav>
   {{> footerlink href='/summary' text='Summary' line=true }}
   {{> footerlink href='/skills' text='My skills' line=true }}
   {{> footerlink href='/education' text='Education' line=true }}
   {{> footerlink href='/work' text='Work' line=true noLine=true}}
</nav>